<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<table>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
        </tr>
    <% end %>
</table>
