<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<table>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
<<<<<<< HEAD
          <td><%= button_to 'Dodoj v košarico', :action => 'add_to_cart', :id => product %></td>
=======
>>>>>>> 0dd5afb9680728a3f1462a83ec4928dc75f3891c
        </tr>
    <% end %>
</table>
