<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<table>
    <% @products.each do |product| %>
        <tr>
          <td><%= image_tag product.photo.url %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= button_to 'Dodaj v košarico', add_to_cart_path(product.id) %></td>
        </tr>
    <% end %>
</table>
