<h1>Hello</h1>

<table border="1">
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.image %></td>
      <td><%= product.price %></td>
    </tr>
  <% end %>
</table>
